.list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-container {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f5f5f5;
  width: 300px;
}
